@import "tailwindcss";

:root {
  --background: #76ce70; /* Green retro background */
  --foreground: #2d2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom scrollbar for brutalist look */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f0eada;
  border-left: 2px solid #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border: 2px solid #f0eada;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
